 /* your css code here. If applicable */
.product {
	color:white;
	display:flex;
	align-items:center;
}
#wrapper {
	display:flex;
	flex-wrap:wrap;
	row-gap:24px;
}
#acciojob{
	background-color:#626ee3;
	width:75%;
	height:50px;
	margin:0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	order:3;
}

#dsa{
	background-color:#890123;
	width:50%;
	height:70px;
	display:flex;
	align-content:center;
	justify-content:center;
	order:1;
}
#mern{
	background-color:#f37f1b;
	width:30%;
	height:75px;
	display:flex;
	justify-content:center;
	align-items:center;
	order:2;
}
#buisness-analytics{
	background-color:#12967e;
	width:40%;
	height:75px;
	display:flex;
	justify-content:center;

	order:4;
}
#spring{
	width: calc(60% - 34px);
	background-color:#f21a2f;
	height:75px;
	display:flex;
	justify-content:center;
	
	order:5;
}

