 /* your css code here. If applicable */
.product {
	color:white;
	display:flex;
	align-items:center;
}
#wrapper {
	display:flex;
	flex-wrap:wrap;
	row-gap:24px;
	justify-content:space-between;
}
#acciojob{
	background-color:rgb(98, 110, 227);
	width:75%;
	height:50px;
	margin:0 auto;
	display:flex;
	justify-content:center;
	align-items:center;
	order:1;
}

#dsa{
	background-color:rgb(137, 0, 35);
	width:50%;
	height:70px;
	display:flex;
	align-self:center;
	justify-content:center;
	order:1;
}
#mern{
	background-color:rgb(243, 127, 27);
	width:30%;
	height:75px;
	display:flex;
	justify-content:center;
	align-items:center;
	order:2;
}
#buisness-analytics{
	background-color:rgb(17, 150, 126);
	width:40%;
	height:75px;
	display:flex;
	justify-content:center;
	align-self:flex-end;
    margin-right:10px;
	order:2;
}
#spring{
	width: calc(60% - 34px);
	background-color:#f21a2f;
	height:75px;
	display:flex;
	justify-content:center;
	
	order:5;
}

